<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ReelNest || Create Post</title>
  <link rel="stylesheet" href="/stylesheets/createPost.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  

  <%- include("partials/header2") %>
  
  <div class="container">
  <div class="wrapper">
  <div class="loadingText"></div>
  <div class="loader"></div>
      </div>
      </div>
      
  <div class="create-post-container">
    <h2>Create New Post</h2>
    <form class="upload-box" action="/posts/upload" method="post" enctype="multipart/form-data">

<div class="previewImgCont">
  <img id="preview" src="" style="display: none;">
  <video id="videoPreview" controls style="display: none; max-width: 100%; height: auto;"></video>
</div>
      <input type="file" hidden name="media" accept="image/*,video/*" id="fileInput" required />
      
      <h1>Write description or Title :</h1>
    <div class="upload-section">
            <i class="upload-btn2 fas fa-camera"></i>
      <textarea name="postdata" required  placeholder="What's in your mind?" class="input"></textarea>
      </div>
      <button class="upload-btn" type="submit">
        <p>Upload</p> <i class="fas fa-upload"></i>
      </button>
    </form>
    
    
</div>

<script src="/javascripts/uploadPostLogic.js"></script>

</body>
</html>