* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #fff;
    user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
user-select: none;     /* Internet Explorer/Edge */

}

.container {
  max-width:100vw;
  margin-top:2cm;
  padding:0 12px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ff2e63;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
}

.user-card {
  background: linear-gradient(145deg, #1a1a1a, #0d0d0d);
  border: 1px solid #ff2e63;
  border-radius: 16px;
  padding: 1.5rem;
display:flex;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(255, 46, 99, 0.4);
}

.user-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ff2e63;
  object-fit: cover;
}


.user-info h2 {
  font-size: 14px;
  color: #fff;

}

.user-info h2  {
  margin-left:6px;
  margin-top:12px;
width:100px;
}
.user-info p {
  font-size: 12px;
  color: #ccc;
  margin-left:6px;
}

.unblock-btn {
  margin-left: auto;
  margin-top:1cm;
  background: transparent;
  border: 1px solid #ff2e63;
  color: #ff2e63;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size:10px;
  transition: all 0.3s ease;
}

.unblock-btn:hover {
  background-color: #ff2e63;
  color: #fff;
}

@media (min-width:600px) {
  .user-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25vw;
  }
  .user-info {
    margin-left: 10px;
  }
}